{% extends "tourist_attractions/base.html" %}
{% load static %}

<head>
 {% block head %}
 <link rel="stylesheet" href="{% static 'tourist_attractions/style.css' %}">
  {% endblock %}
</head>
<body>
   <a href="{% url 'home' %}">Take me home</a>
 {% block content %}
 <h1>This is a list of attractions in America!</h1>
 <table>
   <tr>
    <th>Attraction</th>
    <th>State</th>
    <th>State details</th>
    {% for item in attractions|dictsort:"state" %}
    <tr>
      <td>{{item.attraction_name}}</td>
      <td>{{ item.state }}</td>
      <td>
        <a href="{% url 'details' item.state|slugify %}">State details</a>
      </td>
      </tr>
    {% endfor %}

     </tr>
   </table>
  {% endblock %}
</body>